<mat-card-header>
  <mat-card-title class="mat-card-title-center">
    BARBEARIA - {{ titleHeader }} - RAMAL {{ ramal }}
    <img
      src="assets/images/logo-gapbr.png"
      alt="Logo do GAP-BR"
      width="50px"
      height="55px"
    />
    &nbsp;
    <button mat-mini-fab color="secondary" (click)="logout()" title="Sair">
      <img
        src="assets/images/logout.png"
        alt="Logo Sair"
        width="30px"
        height="30px"
      />
    </button>
  </mat-card-title>
</mat-card-header>
