.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

.error-card {
  width: 400px; /* Largura fixa para o card */
  text-align: center;
  padding: 3rem;
}

.error-number {
  font-size: 4rem; /* Tamanho grande para o número 404 */
  color: #2a74c3; /* Cor vermelha para destaque */
  font-weight: bold;
  margin-bottom: 1rem;
}

mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card-title {
  font-size: 1.6rem;
  color: #0063ba;
}

mat-card-content {
  font-size: 1rem;
}

a {
  color: #1e88e5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
