<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-icon">
      <mat-icon>info</mat-icon>
    </div>
    <mat-card-title>ORIENTAÇÕES DO GAP-BR</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>event</mat-icon>
        Só é possível agendar para datas dentro da semana atual (Segunda à
        Sexta).
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>schedule</mat-icon>
        Só é possível agendar a partir de 09:10 da Segunda.
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>repeat</mat-icon>
        Só é possível marcar uma vez a cada 15 dias.
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>access_time</mat-icon>
        A tolerância é de 10 minutos após o horário marcado.
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>assignment</mat-icon>
        O Atendimento será realizado conforme&nbsp;<b>marcação prévia</b
        >&nbsp;no sistema de agendamento.
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>cancel</mat-icon>
        Só é possível desmarcar com antecedência mínima de 30min.
      </mat-list-item></mat-list
    ></mat-card-content
  >
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" color="primary">CIENTE</button>
  </mat-dialog-actions></mat-card
>
