<mat-card>
  <!-- Header do Card -->
  <mat-card-header>
    <mat-card-title class="mat-card-title-center">
      BARBEARIA - GRADUADOS - RAMAL 2691
      <img
        src="assets/images/logo-gapbr.png"
        alt="Logo do GAP-BR"
        width="50px"
        height="55px"
      />
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="dataSource.length > 0">
      <table>
        <thead>
          <tr>
            <th>HORÁRIO</th>
            <th *ngFor="let dia of diasDaSemana">{{ dia | uppercase }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let horario of horarios">
            <td><b>{{ horario }}</b></td>
            <td *ngFor="let dia of diasDaSemana">
              <div *ngIf="getAgendamentoParaDiaHora(dia, horario) as agendamento" class="agendamento-container" (click)="desmarcarAgendamento(agendamento)" title="clique para desmarcar">
                <div class="agendamento-info">
                  <span>{{ agendamento.militar.gradposto }} {{ agendamento.militar.nomeGuerra }}</span>
                </div>
              </div>
              <div *ngIf="!getAgendamentoParaDiaHora(dia, horario)">
                <button
                  mat-raised-button
                  color="primary"
                  (click)="agendarCorte(dia, horario)"
                >
                  Disponível
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <div style="margin-inline: 15px" *ngIf="dataSource.length === 0">
      Não há agendamentos disponíveis.
    </div>
  </mat-card-content>
</mat-card>
