<div class="login-container">
  <div class="login-form">
    <div>
      <img
        src="assets/images/gladioalado.png"
        alt="Gládio Alado"
        width="100px"
        height="100px"
      />
      <h1><b>FORÇA AÉREA BRASILEIRA</b></h1>
    </div>
    <h2>LOGIN</h2>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="CPF" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="SENHA" type="password" required />
      </mat-form-field>
      <mat-checkbox>Lembrar acesso</mat-checkbox>
      <button mat-raised-button color="primary">ENTRAR</button>
    </form>
    <a href="/esqueci"><small>Esqueci/Não possuo código de acesso</small></a>
  </div>
</div>
