<div class="login-container" [@slideInLogout]>
  <div class="login-form">
    <div>
      <img
        src="assets/images/gladioalado.png"
        alt="Gládio Alado"
        width="100px"
        height="100px"
      />
      <h1><b>FORÇA AÉREA BRASILEIRA</b></h1>
    </div>

    <h2>LOGIN</h2>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input
          matInput
          type="number"
          id="login"
          name="login"
          [(ngModel)]="login"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input
          matInput
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          required
        />
      </mat-form-field>
      <mat-checkbox [(ngModel)]="rememberMe" name="rememberMe"
        >Lembrar acesso</mat-checkbox
      >
      <button class="mb-2" type="submit" mat-raised-button color="primary">
        ENTRAR
      </button>
      <span matError *ngIf="errorMessage">{{ errorMessage }}</span>
    </form>
  </div>
</div>
