<h1 mat-dialog-title>Confirmação</h1>
<div mat-dialog-content>
  <p>Tem certeza que deseja desmarcar este horário?</p>
  <p><b>Dia:</b> {{ data.diaSemana | uppercase }}</p>
  <p><b>Hora:</b> {{ data.hora }}</p>
  <p style="color: #f44336">
    <b
      >Realize a ação de desmarcar com cautela. Seu IP está sendo monitorado.</b
    >
  </p>

  <mat-form-field>
    <mat-label>SARAM</mat-label>
    <input type="number" matInput [(ngModel)]="saram" max="9999999999" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button
    mat-button
    color="primary"
    (click)="onYesClick()"
    [disabled]="saram.toString().length == 0 || saram.toString().length > 10"
  >
    Confirmar
  </button>
</div>
