<h1 mat-dialog-title>Agendar Corte</h1>
<div mat-dialog-content>
  <p>Dia da Semana: {{ data.diaSemana | uppercase }}</p>
  <p>Hora: {{ data.hora }}</p>
  <mat-form-field>
    <mat-label>SARAM</mat-label>
    <input
      matInput
      [(ngModel)]="militar.saram"
      maxlength="9"
      (input)="validateNumericInput($event)"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Graduação / Posto</mat-label>
    <mat-select [(ngModel)]="militar.gradposto">
      <mat-option *ngFor="let opcao of opcoesGraduacao" [value]="opcao">
        {{ opcao }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nome de Guerra</mat-label>
    <input matInput [(ngModel)]="militar.nomeGuerra" maxlength="25" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Organização Militar (OM)</mat-label>
    <mat-select [(ngModel)]="militar.om">
      <mat-option *ngFor="let opcao of oms" [value]="opcao">
        {{ opcao }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onSaveClick()">Salvar</button>
</div>
