<mat-card>
  <mat-card-header>
    <mat-card-title class="mat-card-title-center">
      BARBEARIA - {{ titleHeader }} - RAMAL {{ ramal }}
      <img
        src="assets/images/logo-gapbr.png"
        alt="Logo do GAP-BR"
        width="50px"
        height="55px"
      />
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table>
      <thead>
        <tr>
          <th>HORÁRIO</th>
          <th *ngFor="let dia of diasDaSemana">{{ dia | uppercase }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hora of horarios">
          <td>
            <b>{{ hora }}</b>
          </td>
          <td *ngFor="let dia of diasDaSemana">
            <div
              *ngIf="getAgendamentoParaDiaHora(dia, hora) as agendamento"
              class="agendamento-container"
              (click)="desmarcarAgendamento(agendamento)"
              title="clique para desmarcar"
            >
              <div class="agendamento-info" [@agendamentoAnimacao]>
                <span
                  >{{ agendamento.militar.gradposto }}
                  {{ agendamento.militar.nomeGuerra }}</span
                >
              </div>
            </div>
            <div *ngIf="!getAgendamentoParaDiaHora(dia, hora)">
              <button
                mat-raised-button
                color="primary"
                (click)="agendarCorte(dia, hora)"
                [@cancelamentoAnimacao]
              >
                Disponível
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
